%a{:href=>"https://plus.google.com/+Thedoersproject", :rel=>"publisher"}
%meta{:name => "description", :content => "It\'s not the product that should be insanely great, but the experience of being your user. The product is just one component of that. (P.G.) - Are you curious to see how UX design could boost your Startup?"}
%meta{:name => "viewport", :content => "width=device-width, initial-scale=1, maximum-scale=1"}
%meta{:name => "apple-mobile-web-app-capable", :content =>"yes"}
%meta{:name => "apple-mobile-web-app-status-bar-style", :content => "black"}
%meta{:name => "keywords", :content => "user experience design,product development,lean approach" }

%meta{:property=>"og:title", :content=>"How to craft a perfect user Experience - even with a rough MVP"}
%meta{:property=>"og:type", :content=>"event"}
%meta{:property=>"og:description", :content =>"It\'s not the product that should be insanely great, but the experience of being your user. The product is just one component of that. (P.G.) - Are you curious to see how UX design could boost your Startup?"}
%meta{:property=>"og:url", :content=>"http://thedoers.co/events/2013/How-to-craft-a-perfect-user-Experience-even-with-a-rough-MVP.html"}
%meta{:property=>"og:image", :content=>"http://thedoers.co/images/ixdt/ixdt_social-shared-fb.png"}
%meta{:property=>"og:site_name", :content=>"TheDoers"}

%meta{:property=>"fb:app_id", :content=>"548417228527743"}
%meta{:property=>"fb:admins", :content=>"609869050"}
%meta{:property=>"fb:page_id", :content=>"103239286492837"}

%meta{:property=>"twitter:card", :content=>"summary_large_image"}
%meta{:property=>"twitter:url", :content=>"http://thedoers.co/events/2013/How-to-craft-a-perfect-user-Experience-even-with-a-rough-MVP.html"}
%meta{:property=>"twitter:title", :content=>"How to craft a perfect user Experience - even with a rough MVP"}
%meta{:property=>"twitter:description", :content=>"It\'s not the product that should be insanely great, but the experience of being your user. The product is just one component of that. (P.G.) - Are you curious to see how UX design could boost your Startup?"}
%meta{:property=>"twitter:image:src", :content=>"http://thedoers.co/images/ixdt/ixdt_social-shared-tw.png"}
%meta{:property=>"twitter:creator", :content=>"@piermaria"}
%meta{:property=>"twitter:domain", :content=>"thedoers.co"}
%meta{:property=>"twitter:site", :content=>"@doersproject"}