---
title: "HOW TO CRAFT A PERFECT USER EXPERIENCE (EVEN WITH A ROUGH AND INCOMPLETE MVP)"
metas: "ixdt1113"
---
= partial'partials/header'
= partial "modules/ixdt1113-post"
= partial'partials/footer'