---
title: "HOW TO CRAFT A PERFECT USER EXPERIENCE (EVEN WITH A ROUGH AND INCOMPLETE MVP)"
metas: "ixdt1113_tk"
---
= partial'partials/header'
= partial "modules/ixdt1113_tk_post"
= partial'partials/footer'