//todo fabrica layout
%section.fabrica
  %header
    //todo image fabrica
    %h2.title Fabrica
    %h2.title
      STORY
    .subtitle
      <span> <span class="big-data-title">+ 70%</span> di nuovi candidati</span>
      <span>In cosa consiste il valore della tua</span>
      <span>presenza online?</span>
  .article
    %p.base.first
      %a{href:''}
        Per Fabrica - il centro di ricerca sulla Comunicazione del gruppo Benetton - il valore è rappresentato dal numero di studenti che chiedono di entrare nel programma di ricerca, e dalla qualità dei loro curriculum. In soli 3 mesi, dopo la ri-progettazione del sistema di candidatura online, e un nuovo sito web,
      <span class="white-bk">il numero di curriculum è aumentato del 70%.</span>
    %p.base
      <span class="">Come ci siamo riusciti?</span>
      <span class="">Abbiamo migliorato drasticamente la User Experience! </span>
    %p.base.underline
      Vuoi sapere come la progettazione dell’Esperienza Utente può migliorare notevolmente i risultati della tua presenza online?
    %p.base.last
      Abbiamo molte soluzioni da suggerirti ed esperienze pratiche che ti possono ispirare: vieni a parlarne nel nostro studio, a pranzo, per un caffè, un bicchiere di whisky? Lascia la tua email per ottenere il tuo invito!
  %section.form
    //todo form with wufoo?
    %input{:type=>'text', :placeholder=>'Lascia qui la tua mail'}
    %button{type:'submit'}
      OTTIMO, E ALLORA SI MANGIA!
  %footer
    %p
      Se vuoi, puoi condividere qui
    %ul.share
      %li.facebook
        %a{href:''}
      %li.twitter
        %a{href:''}
      %li.googleplus
        %a{href:''}
      %li.linkdin
        %a{href:''}

