#fabrica_tk
  %article
    %header

      .image-container
        = image_tag "fabrica/fabrica_bg.jpg", id:"fabrica_bg-mobile" ,alt:"Fabrica"
        -#= image_tag "fabrica/fabrica_bg.jpg", id:"fabrica_bg-desktop" ,alt:"Fabrica"

      %h2.fabrica-title
        YOUR
      %h3.subtitle
        story
      .subtitle-paragraph
        <span class="paragraph">In cosa consiste il valore della tua</span>
        <span class="paragraph">presenza online?</span>

    %section.container
      %p.base.first
        <span class="bold"> GRAZIE <span id="user_name"></span>!<br>
        SARÁ UN PIACERE<br>
        CONOSCERTI!</span>
        <span class="regular">TI SCRIVIAMO A BREVE <br> PER ORGANIZZARCI</span>
      %p.base.underline
        SEI UN DOER ANCHE TU,
        VUOI DIRLO AI
        TUOI AMICI?
    %footer
      =partial "partials/share_tag", :locals => {:url => "http://thedoers.co/projects/2013/Fabrica-story.html",:twitter_url => "http://thedoers.co/projects/2013/Fabrica-story.html",:twitter_title => "Io vado a parlare di UX dai #TheDoers - a pranzo!", :title => "Fabrica-story"}
      .contact
        %p
          Se vuoi contattarci prima scrivici a: <br>
          <strong><a href="mailto:we@thedoersproject.com">we@thedoers.co</a></strong><br>
          (.co non è .com)o chiamaci <br><strong><a href="tel:+393393723401">+39 3393723401</a></strong>
      .black-bar

