%article.ixdt
  %header
    %h2.ixdt-title
      IXDT

  %section.container
    %h3.subtitle-paragraph
      %p.subtitle
        HOW TO CRAFT A PERFECT <span class="color">USER EXPERIENCE</span> (EVEN WITH A ROUGH AND INCOMPLETE MVP)
      %p.powered
        powered by The Doers / event in English
    .paragraph
      %p.f-paragraph
        "It's not the product that should be insanely great, but the experience of being your user. The product is just one component of that. But you can and should give users an insanely great experience with an early, incomplete, buggy product, if you make up the difference with
        attentiveness"
      %p.s-paragraph
        <span class="name"><strong>Paul Graham</strong></span>
        <span class="phrase"><strong>"Do things that don't scale"</strong></span>
      %p.t-paragraph
        <span class="groundcolor">User Experience design </span> does make the difference between a successful product and a failure, also for
        huuuuuge companies that's why UX is a key competitive factors for
        Startups.
  %section.location
    %span.date
      26 NOV 2013
    %span.hour
      19,00 pm
    %span.place
      LAB - TORINO
    %span.address
      Piazza Vittorio 13
    %figure
      %image{src:'/images/ixdt/mappa_mobile.png', alt:'IxdtLocation', width: '100%' , height: 'auto'}
  %section.register
    %h3
      ARE YOU CURIOUS TO SEE HOW UX DESIGN COULD BOOST YOUR BUSINESS?
    %form
      %input{:type=>'text', :class=>'email',:placeholder=>'Leave your email to join the event!'}
      %input{:type=>'submit', :class=>'send' ,:value=>'I WANT UX TO BOOST MY PROJECT!'}
  %footer
    .text
      .paragraph-sponsor
        organized with
      .paragraph-share
        SHARE IT
    .icon
      %ul.left-sponsor
        %li.treatabit
          %a{href:'', target:'_blank'}
        -#%li.treatabit-eng
        -#  %a{href:'', target:'_blank'} in English
      %ul.right-share
        %li.linkedin
          <a href='http://www.linkedin.com/shareArticle?mini=true&amp;url=http://www.thedoers.co/' target='_blank'></a>
        %li.googleplus
          %a{href:'https://plus.google.com/share?url=http://www.thedoers.co', onclick:'javascript:window.open(this.href,"","menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600"");return false;'}
        %li.twitter
          %a{href:'http://twitter.com/home?status=http://www.thedoers.co', target:'_blank'}
        %li.facebook
          %a{href:'http://facebook.com/share.php?u=http://www.thedoers.co', target:'_blank'}
