#ixdt1113_tk
  %article
    %a{id:"ixdt-event-1113_tk"}
    %header
      %h2.ixdt-title
        IXDT

    %section.container
      .subtitle-paragraph
        %h3.subtitle
          <span class="thank">THANK YOU!</span>
          <span class="business" id="user_name"></span>
          <span class="so">SO YOU HAVE A</span>
          <span class="business">BUSINESS PROJECT</span>
          <span class="with"> TO BOOST WITH</span>
          <span class="ux">A PERFECT UX?</span>
      .paragraph
        THAT’S REALLY COOL OF YOU!

    %footer
      .text
        SHARE IT WITH YOUR FRIENDS
      =partial "partials/share_tag", :locals => {:url => "http://thedoers.co/events/2013/How-to-craft-a-perfect-user-Experience-even-with-a-rough-MVP.htm#_ixdt1113", :twitter_title => "Come with me at next #ixdt! #ux #startups #event #torino", :title => "It\'s not the product that should be insanely great, but the experience of being your user. The product is just one component of that. (P.G.) - Are you curious to see how UX design could boost your Startup?"}

      .contact
        <span>If you like to get in contact before the</span><span> event, please drop us a line at</span><span> <strong><a href="mailto:we@thedoersproject.com">we@thedoers.co</a></strong>
        (.co is not .com)</span><span> or call <strong><a href="tel:+393393723401">+39 3393723401</a></strong></span>




