#ixdt1113_tk
  %article
    %header
      %h2.ixdt-title
        IXDT

    %section.container
      .subtitle-paragraph
        %h3.subtitle
          <span class="business">CIAO </span>
          <span class="business" id="user_name"></span>
          <span class="so">SO YOU HAVE A</span>
          <span class="business">BUSINESS PROJECT</span>
          <span class="with"> TO BOOST WITH</span>
          <span class="ux">A PERFECT UX?</span>
      .paragraph
        THAT’S REALLY COOL OF YOU!
      .paragraph
        GRASP THE PRESENTATION

      %script.speakerdeck-embed{async: "", "data-id" => "75e7752038be0131bfa57ef76df448c9", "data-ratio" => "1.33333333333333", src: "//speakerdeck.com/assets/embed.js"}

    %footer
      .text
        SHARE IT WITH YOUR FRIENDS
      =partial "partials/share_tag", :locals => {:url => "http://thedoers.co/events/2013/How-to-craft-a-perfect-user-Experience-even-with-a-rough-MVP.html#_ixdt1113", :twitter_title => "Are you curious to see how #UX #design could boost your #business? #startup", :title => "How to craft a perfect user Experience - even with a rough MVP"}

      .contact
        <span>If you like to exchange more about it, drop us a line and join us for a coffee, an informal lunch or a glass of wine: </span><span> <strong><a href="mailto:we@thedoersproject.com">we@thedoers.co</a></strong>
        (.co is not .com)</span><span> - <strong><a href="tel:+393393723401">+39 3393723401</a></strong></span>




