%article.ixdt
  %header
    %h2.ixdt-title
      IXDT
    %h3.subtitle
      Interaction Design Tuesday
    .subtitle-paragraph
      HOW TO CRAFT A PERFECT USER EXPERIENCE (EVEN WITH A ROUGH AND INCOMPLETE MVP)
    %p.powered
      powered by The Doers
  %section.container
    %p.f-paragraph
      "It's not the product that should be insanely great, but the experience of being your user. The product is just one component of that. But you can and should give users an insanely great experience with an early, incomplete, buggy product, if you make up the difference with
      attentiveness"
    %p.s-paragraph
      Paul Graham
      "Do things that don't scale"
    %p.t-paragraph
      User Experience design does make the difference between a successful product and a failure, also for
      huuuuuge companies that's why UX is a key competitive factors for
      Startups.
  %figure

  %section.register
    %h3
      ARE YOU CURIOUS TO SEE HOW UX DESIGN COULD BOOST YOUR BUSINESS?
    %form
      %input{:type=>'text', :class=>'email',:placeholder=>'Leave your email to join the event!'}
      %input{:type=>'submit', :class=>'send' ,:value=>'I WANT UX TO BOOST MY PROJECT!'}
  %footer
    .sponsor
      .paragraph-sponsor
        organized wit
      %ul
        %li.treatabit
          %a{href:'', target:'_blank'}
        %li.treatabit-eng
          %a{href:'', target:'_blank'}
    .share
      .paragraph-share
        SHARE IT
      %ul
        %li.facebook
          %a{href:'http://facebook.com/share.php?u=http://www.thedoers.co', target:'_blank'}
        %li.twitter
          %a{href:'http://twitter.com/home?status=http://www.thedoers.co', target:'_blank'}
        %li.googleplus
          %a{href:'https://plus.google.com/share?url=http://www.thedoers.co', onclick:'javascript:window.open(this.href,"","menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600"");return false;'}
        %li.linkedin
          <a href='http://www.linkedin.com/shareArticle?mini=true&amp;url=http://www.thedoers.co/' target='_blank'></a>

