#wp1213_tk
  %article
    %header
      %h2.wp-title
        WORKSHOP

      .subtitle
        %h3
          %span
            Validare la mia
          %span
            idea di startup

      .image-container
        = image_tag 'workshop/workshop_background-mobile.png', id:'workshop_bg-mobile', alt:'Workshop'


    %section.container

      .banner_blue
        %p
          <span class= "special"><span class="special" id="user_name"></span><span>,</span><br> CHE GRANDE!</span>

      .paragraph
        %p
          Molti hanno un’idea di business - ma solo il migliori sono pronti per metterla alla prova.
        %p
          Nel giro di 24 ore ti contatteremo per  conoscerti meglio e confermare la tua partecipazione.
        %p.interest
          INTANTO POTREBBERO <br> INTERESSARTI:

        %ul
          %li
            %a{href:"http://thedoers.co/events/2013/thank-you-ixdt1113.html"}
              HOW TO GET A PERFECT UX
          %li
            %a{href:"http://blog.thedoers.co/2013/09/26/the-nine-commandments-for-a-startupper-in-acceleration/"}
              THE NINE COMMANDMENTS FOR A STARTUPPER IN ACCELERATION

      .banner_blue
        %p
          <span class="special">GRAZIE E A PRESTO!</span><br>Se vuoi contattarci o venirci a trovare prima: <br> <span class="strong"> <strong><a href="mailto:we@thedoersproject.com">we@thedoers.co</a></strong></span> (.co è diverso da .com!) <span class="strong"> <strong><a href="tel:+393393723401">+39 3393723401</a></strong></span><br>I nostri riferimenti completi sono nel footer!

    %footer
      =partial "partials/share_tag", :locals => {:url => "http://thedoers.co/workshops/2013/Come-validare-la-mia-idea-di-business.html", :twitter_title => "Non è l'idea che fa l'imprenditore, ma la capacità di validarla. Inizia con un Workshop http://thedoers.co/workshops/2013/Come-validare-la-mia-idea-di-business.html #startup #analytics #lean", :title => "Workshop - Come Validare la Mia Idea di Business"}
      .image-container
        = image_tag 'workshop/workshop_background-mobile.png', id:'workshop_bg-footer', alt:'Workshop'
