-# coding: utf-8
#header
  %a.logo-doers{href: 'http://www.thedoers.co/'}
  %section.page
    #mission
      %h2
        <span class="capo_lettera U_big">U</span>ser Experience, Interaction Design and Digital Strategy.


  %ul.menu-container
    %li.container-hover
      %a{href: 'http://blog.thedoers.co'}
      .white-line
        .hover-corner-left
        .hover-center
        .hover-corner-right
        .bottone_container
          .bottone
            %p
              <span class="first-letter">B</span>log
              %span.slash /
            .corner_right
            .block_center
            .corner_left
      .fulminetti
    %li.container-hover
      %a{href: '/team.html'}
      .white-line
        .hover-corner-left
        .hover-center
        .hover-corner-right
        .bottone_container
          .bottone
            %p
              <span class="first-letter">T</span>eam
              %span.slash /
            .corner_right
            .block_center
            .corner_left
      .fulminetti