-# coding: utf-8
#header
  .front
    .padder
      .background
      .logo
        %a{href: 'http://www.thedoers.co/'}
          The Doers
      #mission
        %h1
          <span>U</span>SER  <span>E</span>XPERIENCE DESIGN<br />
          <span>P</span>RODUCT  <span>D</span>EVELOPMENT<br />
          <span>L</span>EAN APPROACH
      .share
        .addthis_toolbox
          .custom_images.white
            %a.addthis_button_facebook{style: "text-decoration:none; cursor: pointer; "}
              = image_tag "share-buttons/share_fb.png", border: "0", alt: "facebook share"
            %a.addthis_button_twitter{style: "text-decoration:none; cursor: pointer; "}
              = image_tag "share-buttons/share_tw.png", border: "0", alt: "twitter share"
            %a.addthis_button_google_plusone_share{style: "text-decoration:none; cursor: pointer; "}
              = image_tag "share-buttons/share_gp.png", border: "0", alt: "google plus share"
            %a.addthis_button_linkedin{style: "text-decoration:none; cursor: pointer; "}
              = image_tag "share-buttons/share_li.png", border: "0", alt: "linkedin share"

      %ul.menu-container
        %li
          %a{href: 'http://blog.thedoers.co'}
            <span>b</span>log
        %li
          %a{href: '/team.html'}
            <span>t</span>eam
      %p.scroll
        SCROLL TO EXPLORE