%ul.menu-container
  %li.container-hover
    %a{href: 'http://blog.thedoers.co'}
    .white-line
      .hover-corner-left
      .hover-center
      .hover-corner-right
      .bottone_container
        .bottone
          %p
            <span class="first-letter">B</span>log
            %span.slash /
          .corner_right
          .block_center
          .corner_left
    .fulminetti
  %li.container-hover
    %a{href: '/team.html'}
    .white-line
      .hover-corner-left
      .hover-center
      .hover-corner-right
      .bottone_container
        .bottone
          %p
            <span class="first-letter">T</span>eam
            %span.slash /
          .corner_right
          .block_center
          .corner_left
    .fulminetti

