---
title: "main page"
metas: "main"
---
= partial'partials/header'
-#= partial'modules/ixdt1113'
-#= partial'modules/ixdt1113_tk'
= partial'modules/ixdt1113-post'
-#= partial'modules/fabrica'
= partial'partials/footer'
