---
title: "main page"
metas: "main"
---
= partial'partials/header'
-#= partial'modules/workshop1213'
-#= partial'modules/ixdt1113-post'
= partial'modules/fabrica1213'
= partial'modules/fabrica1213_tk'
= partial'partials/footer'
