---
title: "main page"
metas: "main"
---
= partial'partials/header'
-#= partial'modules/ixdt1113-post'
-#= partial'modules/workshop1213'
= partial'modules/workshop1213_tk'
-#= partial'modules/fabrica'
= partial'partials/footer'
