//.fago
//  font-family: Fago , "Helvetica neue", Helvetica, Arial, sans-serif

article.ixdt
  //+susy-grid-background

  header
    h2.ixdt-title
      width: 100%!important
      border-bottom: 5px solid black
      margin: 0px!important
      +replace-text-with-dimensions("ixdt/ixdt_logo_mobile.png")

  section.container
    h3.subtitle-paragraph
      //width: 100%
      float: left
      //clear: both
      border-bottom: 5px solid black
      p.subtitle
        margin: 0px
      p.powered
        margin: 4px 0px 0px
    .paragraph
      +span-columns(6,7)
      +pre(1,7)
      p.f-paragraph
      p.s-paragraph
      p.r-paragraph
  section.location
    position: relative
    span.date
      position: absolute
      bottom: 132px
      left: 15px
      background: white
    span.hour
      position: absolute
      bottom: 95px
      left: 15px
      background: white
    span.place
      position: absolute
      bottom: 55px
      right: 35px
      background: white
    span.address
      position: absolute
      bottom: 20px
      right: 23px
      background: white

  section.register
    h3

    form
      input
        text-align: center
      .email
        height: 50px
        //todo cambiare width
        width: 95%
        margin-left: 1%
        border: 3px solid black
        margin-top: 26px
      .send
        height: 40px
        //todo cambiare width
        width: 94%
        margin: 12px 0px 26px
        margin-left: 1%
        text-decoration: none
        background: black
        border: none
        color: white
        box-shadow: rgb(0,255,255) 2px 2px 1px 0px
  footer
    //border: 1px solid black
    .text
      width: 100%
      float: left
      clear: both
      .paragraph-sponsor
        float: left
      .paragraph-share
        float: right
    .icon
      display: inline-block
      width: 100%
      ul.left-sponsor
        list-style-type: none
        margin: 0px
        padding: 0px
        li
          text-decoration: none
          float: left
        .treatabit
          width: 41px
          height: 51px
          float: left
          background: image-url("ixdt/treatabit_logo_mobile.png") no-repeat
        .treatabit-eng
          a
      ul.right-share
        list-style-type: none
        float: right
        margin: 0px
        padding: 0px
        li
          text-decoration: none
          width: 26px
          height: 26px
          float: right
          margin-top: 25px
          padding-right: 15px
          &:first-child
            padding-right: 0px!important
        .facebook
          background: image-url("ixdt/social_fb.png") no-repeat
        .twitter
          background: image-url("ixdt/social_twitter.png") no-repeat
        .googleplus
          background: image-url("ixdt/social_gplus.png") no-repeat
        .linkedin
          background: image-url("ixdt/social_linkedin.png") no-repeat




