.akzidenz
  font-family: Akzidenz , "Helvetica neue", Helvetica, Arial, sans-serif
.droidsans
  font-family: Droidsans , "Helvetica neue", Helvetica, Arial, sans-serif
.vistasansaltbold
  font-family: VistaSansab, "Helvetica neue", Helvetica, Arial, sans-serif
.vistasansaltbookita
  font-family: VistaSansabi, "Helvetica neue", Helvetica, Arial, sans-serif
.vistasansaltmediaita
  font-family: VistaSansami, "Helvetica neue", Helvetica, Arial, sans-serif
article.ixdt
  //+susy-grid-background
  +container($total-columns, $break)
  header
    h2.ixdt-title
      width: 100%!important
      border-bottom: 5px solid black
      margin: 0px!important
      +replace-text-with-dimensions("ixdt/ixdt_logo_mobile.png")

  section.container
    h3.subtitle-paragraph
      float: left
      margin: 0px
      margin-top: 16px
      border-bottom: 5px solid black
      p.subtitle
        @extend .droidsans
        font-weight: 600
        font-size:  23px
        margin: 0px
        .color
          //color: #81FFD0
      p.powered
        @extend .vistasansaltbookita
        font-size: 12px
        font-style: italic
        margin: 4px 0px 0px
    .paragraph
      +span-columns(6,7)
      +pre(1,7)
      @extend .vistasansaltbookita
      font-size: 15px
      font-style: italic
      p.f-paragraph
        //todo non prende il font bene
        margin: 0px
        margin-top: 16px
      p.s-paragraph
        margin: 0px
        @extend .vistasansaltmediaita
        font-size: 15px
        font-style: italic
        .name
          display: inline-block
          width: 100%
        .phrase
          display: inline-block
          width: 100%
      p.t-paragraph
        //todo non prende il font bene
        margin: 0px
        margin-bottom: 16px
  section.location
    position: relative
    span.date
      position: absolute
      bottom: 98px
      left: 15px
      background: white
    span.hour
      position: absolute
      bottom: 70px
      left: 15px
      background: white
    span.place
      position: absolute
      bottom: 55px
      right: 35px
      background: white
    span.address
      position: absolute
      bottom: 25px
      right: 47px
      background: white
    span.date, span.place
      @extend .akzidenz
      font-size: 28px
      font-weight: 500
      font-style: italic
    span.hour, span.address
      @extend .akzidenz
      font-size: 20px
      font-weight: 300
      font-style: italic

  section.register
    h3
      @extend .droidsans
      font-weight: 600
      font-size:  23px
    form
      input
        text-align: center
      .email
        height: 50px
        //todo cambiare width
        width: 95%
        margin-left: 1%
        border: 3px solid black
        margin-top: 26px
        @extend .vistasansaltbold
        font-size: 15px
      .send
        height: 40px
        //todo cambiare width
        width: 94%
        margin: 12px 0px 26px
        margin-left: 1%
        text-decoration: none
        background: black
        border: none
        @extend .akzidenz
        font-size: 20px
        font-weight: 600
        font-style: italic
        color: white
        box-shadow: rgb(0,255,255) 2px 2px 1px 0px
  footer
    //border: 1px solid black
    .text
      width: 100%
      float: left
      clear: both
      @extend .droidsans
      font-size: 10px
      .paragraph-sponsor
        float: left
      .paragraph-share
        float: right
    .icon
      display: inline-block
      width: 100%
      ul.left-sponsor
        list-style-type: none
        margin: 0px
        padding: 0px
        li
          text-decoration: none
          float: left
        .treatabit
          width: 41px
          height: 51px
          float: left
          background: image-url("ixdt/treatabit_logo_mobile.png") no-repeat
        .treatabit-eng
          a
      ul.right-share
        list-style-type: none
        float: right
        margin: 0px
        padding: 0px
        li
          text-decoration: none
          width: 26px
          height: 26px
          float: right
          margin-top: 25px
          padding-right: 15px
          &:first-child
            padding-right: 0px!important
        .facebook
          background: image-url("ixdt/social_fb.png") no-repeat
        .twitter
          background: image-url("ixdt/social_twitter.png") no-repeat
        .googleplus
          background: image-url("ixdt/social_gplus.png") no-repeat
        .linkedin
          background: image-url("ixdt/social_linkedin.png") no-repeat




