+at-breakpoint($break)
  article.ixdt
    +susy-grid-background
    +span-columns(12,12)
    section.container
      display: block
      h3.subtitle-paragraph
        +span-columns(6,12)
        float: left
      .paragraph
        +span-columns(6 omega,12)
        float: left
        margin-left: 0px
    section.location

    section.register
      h3
        +span-columns(6,12)
        float: left
      form
        +span-columns(6 omega,12)
        float: left
    footer
      +span-columns(6 omega,12)
