.fago
  font-family: Fago , "Helvetica neue", Helvetica, Arial, sans-serif

article.fabrica
  //+susy-grid-background
  color: $white
  @extend .fago
  width: 100%
  float: left
  clear: both

  header
    position: relative
    .image-container


    h2.fabrica-title, h3.subtitle, .subtitle-paragraph span.paragraph
      background: $black
      +box-shadow($white 1px 1px 0px)
    .image-container
      margin-left: -($grid-padding)
      margin-right: -($grid-padding)
      position: relative
      z-index: -10

      img
        display: block
        vertical-align: middle
        height: 220px
        width: 100%

      #fabrica_bg-mobile
        display: block
      #fabrica_bg-desktop
        display: none

    h2.fabrica-title
      position: absolute
      height: 21px
      width: 182px
      top: 46px
      margin: 0
      z-index: 10
      +replace-text("fabrica/fabrica_logo.png")

    h3.subtitle
      position: absolute
      height: 20px
      width: 66px
      top: 71px
      margin: 0px
      text-align: center
      @extend .fago
      font-weight: 600
      font-size: px-to-em(19px,16px)
      padding: 0px

    .subtitle-paragraph
      position: absolute
      top: 99px

      span.paragraph
        background: black
        float: left
        clear: both
        font-size: px-to-em(15px,16px)
        padding: 2px 8px
        margin-top: 2px

        span.big-symbol
          font-size: px-to-em(21px, 16px)
        span.big-number
          font-size: px-to-em(34px, 16px)
        span.big-symbol, span.big-number
          @extend .fago
          font-weight: 600

  section.container
    //todo chiedere a Pier gliela posizione dal container va bene così
    +span-columns(9,10)
    +pre(1,10)
    margin-top: -15px
    margin-bottom: 26px
    font-size: px-to-em(14px, 16px)
    p.base
      background: black
      margin: 0px auto
      padding-left: 9px
      padding-right: 6px
    p.first
      padding-top: 30px
      padding-bottom: 21px
      a
        text-decoration: none
        color: white
        border-bottom: 1px solid white
      span.white-bk
        background: $white
        color: $black
      span.white-bk, span.bold
        @extend .fago
        font-weight: 600
      span.regular, span.bold
        display: block
    //todo mancano le righe
    p.underline
      padding-top: 0px
      padding-bottom: 0px
      background: white
      color: black
      @extend .fago
      font-weight: 600
    p.last
      padding-top: 22px
      padding-bottom: 15px

  section.register
    +span-columns(9,10)
    +pre(1,10)
    margin-bottom: 27px
    form
      width: span-columns(9,10)
      input
        +border-radius(0px)
        +box-sizing(content-box)
        border: 3px inset black
        padding: 0
        margin: 0
        text-align: left
        text-indent: 10px
      fieldset
        border: none
        margin: 0
        padding: 0
        p
          margin: 0
          padding: 0

      .email, .name
        height: 30px
        width: 93%
        margin-bottom: 16px

      .send
        height: 32px
        width: 84%
        background: $black
        border: none
        text-decoration: none
        +box-shadow($grey 4px -4px 0px)
        @extend .fago
        font-weight: 600
        font-size: px-to-em(12px, 16px)
        color: $white

  footer
    +span-columns(9,10)
    +pre(1,10)
    height: 68px
    //float: left
    text-align:  center
    background: black
    p
      background: black
      margin: 16px 0px 0px
      font-size: px-to-em(10.34px, 16px)
    .share
      list-style-type: none
      margin: 0px
      padding: 0
      a
        padding: 0px 6px 3px

+at-breakpoint($screen3 $break3)
  article.fabrica
    +susy-grid-background
    +span-columns(20,20)
    header
      .image-container
        img
          height: auto
        #fabrica_bg-mobile
          display: none
        #fabrica_bg-desktop
          display: block

    section.container
      +span-columns(17, 20)
      +pre(0)
      margin-top: -151px
      p.base

      p.first
        padding-botton: 15px
        a

        span.white-bk
          display: block

        span.bold
          font-weight: 600
          color: $black
          background: $white

        span.regular

      p.underline
        text-transform: uppercase
        color: $white
        background: $black
      p.last

    section.register
      +span-columns(17,20)
      +pre(0)
      form
        width: span-columns(17,20)
        input

        .email.name
          .send

    footer
      +span-columns(17,20)
      +pre(0)
      height: 35px
      p
        margin: 5px 0 0 10px
        float: left
      .share
        margin: 5px 10px 0 0
        float: right

//todo refactoring
+at-breakpoint($screen4 $break4)
  article.fabrica
    //+susy-grid-background
    +span-columns(8 ,24)






