$base-font-size: 16px
$base-line-height: 16px
$total-columns: 7 
$column-width: 1.875em
$gutter-width: 0.625em
$grid-padding: 1.250em
$container-style: fluid
$border-box-sizing: true

$break: 12
$break2: 24
$break3: 36